@import "../style/globalVars.scss";

.container {
  padding: 48px 62px;
}

.imagesContainer {
  display: grid;
  // полностью сделать квадратные блоки без js невозможно,
  // т.к. слишком много абстрактных требований в макете.
  // фиксируем высоту в компоненте Card, а
  // ширину растягиваем
  // grid-template-rows: minmax(225px, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 48px;
}

.buttonContainer {
  margin-top: 40px;
}

.button {
  width: 100%;
  text-align: center;
  @include font;
  color: $black;
}

.loadingText {
  text-align: center;
  @include font;
  color: $black;
}

.emptyText {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include font;
  color: $black;
}
